.bg-cold {
  background-color: #0093e9;
  background-image: linear-gradient(90deg, #0093e9 0%, #80d0c7 100%);
}

.bg-warm {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.bg-hot {
  background-image: linear-gradient(135deg, #fd6e6a 10%, #ffc600 100%);
}

.top-left-container,
.top-right-container {
  display: flex;
  flex-direction: column;
  color: var(--text);
}

.top-left-container {
  padding-top: calc(5px + 0.5vw);
  padding-left: calc(5px + 1.5vw);
}

.condition {
  font-size: 4rem;
}

.city {
  font-size: 1.8rem;
}

.date {
  font-size: 1.2rem;
}

.local-time {
  font-size: 1.2rem;
}

.temperature {
  font-size: 6rem;
  font-weight: 700;
}

.condition-icon {
  width: 96px;
  height: 96px;
}

.top-right-container {
  align-items: flex-end;
  padding-top: calc(5px + 0.5vw);
  padding-right: calc(5px + 1.5vw);
}

.right-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-info-container svg {
  width: 48px;
  height: 48px;
}

.right-info-container > div {
  display: flex;
  gap: 5px;
}

.right-info-container > div .heading {
  font-size: 1.8rem;
}

.right-info-container > div .value {
  font-size: 2.4rem;
  font-weight: 700;
}

.main-bottom-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.main-bottom-container .item {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text);
  margin-bottom: 10px;
}

.item > * {
  display: flex;
  justify-content: center;
}

.item img {
  height: 64px;
  width: 64px;
  margin: auto;
}

.main-bottom-container .item > div:nth-child(1) {
  font-size: 1.8rem;
}

.main-bottom-container .item > div:nth-child(2) {
  font-size: 2rem;
  font-weight: 700;
}

.main-bottom-container .item > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 700;
}
