* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  gap: 5px;
}

.error-text {
  background-color: red;
  color: white;
  border-radius: 5px;
}

.display-none {
  display: none;
}
